In [20]:
import pandas as pd

import os
from pathlib import Path, PosixPath

root_dir = Path('.').resolve().parent
filename = 'llamadas123_julio_2022.csv'

file_path = os.path.join(root_dir, "ESEIT_BIGDATA_2022", "Data", filename)
file_path

PosixPath('/Users/wolfrain/Documents/00 Big Data/ESEIT_BIGDATA_2022/Data/llamadas123_julio_2022.csv')

df = pd.read_csv(file_path, sep=";", encoding="latin-1")

#df['TIPO_INCIDENTE'].value_counts(normalize=True)

In [21]:
df.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [22]:
df['TIPO_INCIDENTE'].value_counts(normalize=True)

Herido                                    0.255228
Inconsciente / Paro cardiorespiratorio    0.140942
Evento Respiratorio                       0.130525
Convulsi¢n                                0.090157
Enfermo                                   0.063730
Trastorno Mental                          0.058062
Dolor Tor cico                            0.054079
Intento de Suicidio                       0.051704
Accidente Cerebro Vascular                0.029950
S¡ntomas Gastrointestinales               0.028878
Ca¡da de Altura                           0.023899
Patolog¡a Ginecobsttrica                 0.021065
Intoxicaci¢n                              0.019916
Amenaza de Suicidio                       0.011337
Acompa¤amiento Evento                     0.007813
Violencia Sexual                          0.005285
Maltrato                                  0.002911
Electrocuci¢n / rescate                   0.001379
Sangrado Vaginal                          0.001379
Quemaduras                                0.000919
Solicitud de Apoyo                        0.000843
Name: TIPO_INCIDENTE, dtype: float64

In [23]:
df['EDAD'].unique()

array(['88', '16', '52', 'SIN_DATO', '33', '57', '65', '14', '83', '35',
       '19', '53', '56', '45', '2', '18', '34', '84', '80', '7', '64',
       '41', '28', '23', '85', '92', '38', '11', '58', '70', '50', '27',
       '67', '54', '87', '24', '90', '99', '49', '91', '21', '62', '59',
       '26', '78', '30', '32', '51', '15', '79', '37', '60', '76', '22',
       '47', '61', '82', '86', '77', '63', '39', '89', '36', '97', '40',
       '75', '13', '25', '73', '69', '72', '68', '44', '31', '74', '81',
       '43', '20', '66', '10', '48', '29', '8', '17', '94', '55', '1',
       '4', '3', '9', '71', '46', '6', '95', '93', '98', '96', '42', '5',
       '12'], dtype=object)

In [24]:
#Funciones para listas
len(df['TIPO_INCIDENTE'].unique())

21

In [32]:
#Funciones para listas
len(df['TIPO_INCIDENTE'].unique())

columna  NUMERO_INCIDENTE
columna  FECHA_INICIO_DESPLAZAMIENTO_MOVIL
columna  CODIGO_LOCALIDAD
columna  LOCALIDAD
columna  EDAD
columna  UNIDAD
columna  GENERO
columna  RED
columna  TIPO_INCIDENTE
columna  PRIORIDAD
columna  RECEPCION
fuera del loop

In [33]:
for col in lista_columnas:
    listas_unicos = df[col].unique()
    n_unicos =len(listas_unicos)
    print('columna ', col, n_unicos)

print('fuera del loop')

columna  NUMERO_INCIDENTE 12015
columna  FECHA_INICIO_DESPLAZAMIENTO_MOVIL 12781
columna  CODIGO_LOCALIDAD 20
columna  LOCALIDAD 20
columna  EDAD 100
columna  UNIDAD 6
columna  GENERO 3
columna  RED 5
columna  TIPO_INCIDENTE 21
columna  PRIORIDAD 4
columna  RECEPCION 5235
fuera del loop

In [36]:
# Crear un diccionario vacio

dict_reporte = dict()
#dict_reporte = {} # opción menos estetica

for col in lista_columnas:
    listas_unicos = df[col].unique()
    n_unicos =len(listas_unicos)
    dict_reporte[col] = n_unicos
    #print('columna ', col, n_unicos)

print('fuera del loop')
print(dict_reporte)

fuera del loop
{'NUMERO_INCIDENTE': 12015, 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781, 'CODIGO_LOCALIDAD': 20, 'LOCALIDAD': 20, 'EDAD': 100, 'UNIDAD': 6, 'GENERO': 3, 'RED': 5, 'TIPO_INCIDENTE': 21, 'PRIORIDAD': 4, 'RECEPCION': 5235}

In [40]:
df_reporte = pd.DataFrame.from_dict(dict_reporte, orient='index')
df_reporte.rename({0: 'Conteo'}, inplace=True, axis=1)
df_reporte

                                   Conteo
NUMERO_INCIDENTE                    12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL   12781
CODIGO_LOCALIDAD                       20
LOCALIDAD                              20
EDAD                                  100
UNIDAD                                  6
GENERO                                  3
RED                                     5
TIPO_INCIDENTE                         21
PRIORIDAD                               4
RECEPCION                            5235

In [42]:
out_name = 'reporte_' + filename
out_name

out_path = os.path.join(root_dir, "ESEIT_BIGDATA_2022", "Procesos", out_name)
df_reporte.to_csv(out_path)