<a href="https://colab.research.google.com/github/hectorlduarte/ESEIT_BIGDATA_2022/blob/main/Semana_6_2_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Contexto:
Un permiso de construcción es un documento oficial de aprobación emitido por una agencia gubernamental que le permite a usted o a su contratista proceder con un proyecto de construcción o remodelación en su propiedad. Para más detalles, visite https://www.thespruce.com/what-is-a-building-permit-1398344. Cada ciudad o condado tiene su propia oficina relacionada con los edificios, que puede realizar múltiples funciones como la emisión de permisos, la inspección de edificios para hacer cumplir las medidas de seguridad, la modificación de las normas para adaptarse a las necesidades de la creciente población, etc. En el caso de la ciudad de San Francisco, la expedición de permisos corre a cargo de www.sfdbi.org/

Por qué es importante: En el pasado reciente, varias publicaciones y blogs destacaron que la principal discrepancia entre la demanda y la oferta en el sector inmobiliario se debe a los retrasos en la concesión de permisos de construcción. Consulte:
https://www.trulia.com/blog/trends/elasticity-2016/ - Introduce el concepto de elasticidad, y un bonito gráfico de dispersión de varias ciudades. ¡Una buena historia de datos!
https://biv.com/article/2014/11/city-building-permit-delays-costing-developers-tim


## Acerca de este archivo

Este conjunto de datos pertenece a todos los tipos de permisos estructurales desde el 1 de enero de 2013 hasta el 25 de febrero de 2018. Los datos incluyen detalles sobre los números de solicitud/permiso, direcciones de trabajo, distritos de supervisión y el estado actual de las solicitudes. Los datos son cargados semanalmente por el DBI. Los usuarios pueden acceder a la información de los permisos en línea a través del Sistema de Seguimiento de Permisos del DBI que está disponible las 24 horas del día en www.sfdbi.org/dbipts.

Desafíos:  Hay algunas ideas interesantes que pueden extraerse de este conjunto de datos.

Además, se podría elaborar un modelo predictivo para ayudar a los contratistas/constructores o a los agentes inmobiliarios.

Se puede responder a otras preguntas secundarias que también son útiles para el sector de la construcción.

Descomprimir el archivo .zip

In [141]:
!unzip "/content/archive.zip" -d "/content/"

unzip:  cannot find or open /content/archive.zip, /content/archive.zip.zip or /content/archive.zip.ZIP.

Importarla librerìa de trabajo

In [1]:
import pandas as pd
pd.options.display.max_columns= None

Hacer lectura de los archivos

In [191]:
data_dictionary = pd.read_excel("/content/DataDictionaryBuildingPermit.xlsx")
building_permits = pd.read_csv("/content/Building_Permits.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (22,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [192]:
#Dimension de uno de los df
building_permits.shape

(187235, 43)

In [218]:
building_permits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187235 entries, 0 to 187234
Data columns (total 45 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           187235 non-null  object
 1   Permit Type                             187235 non-null  int64
 2   Permit Type Definition                  187235 non-null  object
 3   Permit Creation Date                    187235 non-null  object
 4   Block                                   187235 non-null  object
 5   Lot                                     187235 non-null  object
 6   Street Number                           187235 non-null  int64
 7   Street Number Suffix                    2053 non-null    object
 8   Street Name                             187235 non-null  object
 9   Street Suffix                           184615 non-null  object
 10  Unit                                    27735 non-null   float64
 11  Unit Suffix                             1838 non-null    object
 12  Description                             186962 non-null  object
 13  Current Status                          187234 non-null  object
 14  Current Status Date                     187234 non-null  object
 15  Filed Date                              187234 non-null  object
 16  Issued Date                             174602 non-null  object
 17  Completed Date                          95537 non-null   object
 18  First Construction Document Date        174590 non-null  object
 19  Structural Notification                 6522 non-null    object
 20  Number of Existing Stories              146690 non-null  float64
 21  Number of Proposed Stories              146555 non-null  float64
 22  Voluntary Soft-Story Retrofit           33 non-null      object
 23  Fire Only Permit                        17557 non-null   object
 24  Permit Expiration Date                  139531 non-null  object
 25  Estimated Cost                          151133 non-null  float64
 26  Revised Cost                            182102 non-null  float64
 27  Existing Use                            148294 non-null  object
 28  Existing Units                          138585 non-null  float64
 29  Proposed Use                            146966 non-null  object
 30  Proposed Units                          139135 non-null  float64
 31  Plansets                                151811 non-null  float64
 32  TIDF Compliance                         2 non-null       object
 33  Existing Construction Type              146124 non-null  float64
 34  Existing Construction Type Description  146124 non-null  object
 35  Proposed Construction Type              146282 non-null  float64
 36  Proposed Construction Type Description  146282 non-null  object
 37  Site Permit                             5026 non-null    object
 38  Supervisor District                     185576 non-null  float64
 39  Neighborhoods - Analysis Boundaries     185568 non-null  object
 40  Zipcode                                 185577 non-null  float64
 41  Location                                185592 non-null  object
 42  Record ID                               187234 non-null  float64
 43  Latitud                                 185592 non-null  object
 44  Longitud                                185592 non-null  object
dtypes: float64(13), int64(2), object(30)
memory usage: 64.3+ MB

In [11]:
building_permits.head(2)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,Unit,Unit Suffix,Description,Current Status,Current Status Date,Filed Date,Issued Date,Completed Date,First Construction Document Date,Structural Notification,Number of Existing Stories,Number of Proposed Stories,Voluntary Soft-Story Retrofit,Fire Only Permit,Permit Expiration Date,Estimated Cost,Revised Cost,Existing Use,Existing Units,Proposed Use,Proposed Units,Plansets,TIDF Compliance,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,NaN,NaN,"ground fl facade: to erect illuminated, electr...",expired,12/21/2017,05/06/2015,11/09/2015,NaN,11/09/2015,NaN,6.0,NaN,NaN,NaN,11/03/2016,4000.0,4000.0,tourist hotel/motel,143.0,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1.380611e+12
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,0.0,NaN,remove (e) awning and associated signs.,issued,08/03/2017,04/19/2016,08/03/2017,NaN,08/03/2017,NaN,7.0,NaN,NaN,NaN,12/03/2017,1.0,500.0,tourist hotel/motel,NaN,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1.420164e+12

In [194]:
#Columnas del df
len(building_permits.columns)

43

In [195]:
#Cantidad por tipo
building_permits["Permit Type"].value_counts()


#building_permits.groupby(by='Proposed Construction Type')
#building_permits["Proposed Construction Type"].value_counts() 
#building_permits.groupby(['Street Name']).mean()
#building_permits['Street Name'].groupby([building_permits['Proposed Construction Type']]).agg()
#df = building_permits[['Proposed Construction Type', "Street Name"]]
#df.groupby(['Proposed Construction Type']).size().reset_index(name='Calles') #& df.isnull()

#building_permits.groupby(['Street Name']).size().reset_index(name='Calles')

8    168406
3     13707
4      2757
2       915
6       558
7       482
1       320
5        90
Name: Permit Type, dtype: int64

In [196]:
## Queremos saber por tipo y por descripciòn
# varias formas de hacer los filtros
building_permits[building_permits["Permit Type"] ==8][["Permit Type",'Proposed Construction Type',"Proposed Construction Type Description"]]

#proponga como harìa el filtro con Loc e Iloc

,Permit Type,Proposed Construction Type,Proposed Construction Type Description
3,8,5.0,wood frame (5)
5,8,1.0,constr type 1
6,8,5.0,wood frame (5)
7,8,NaN,NaN
8,8,NaN,NaN
...,...,...,...
187230,8,5.0,wood frame (5)
187231,8,1.0,constr type 1
187232,8,1.0,constr type 1
187233,8,5.0,wood frame (5)
187234,8,NaN,NaN

In [197]:
building_permits["Number of Existing Stories"]

0          6.0
1          7.0
2          6.0
3          2.0
4          3.0
          ...
187230     3.0
187231    26.0
187232    16.0
187233     4.0
187234     NaN
Name: Number of Existing Stories, Length: 187235, dtype: float64

In [198]:
building_permits.loc[(building_permits["Number of Existing Stories"]>3)&(building_permits["Street Name"]=="Ellis"),:]

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,Unit,Unit Suffix,Description,Current Status,Current Status Date,Filed Date,Issued Date,Completed Date,First Construction Document Date,Structural Notification,Number of Existing Stories,Number of Proposed Stories,Voluntary Soft-Story Retrofit,Fire Only Permit,Permit Expiration Date,Estimated Cost,Revised Cost,Existing Use,Existing Units,Proposed Use,Proposed Units,Plansets,TIDF Compliance,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,NaN,NaN,"ground fl facade: to erect illuminated, electr...",expired,12/21/2017,05/06/2015,11/09/2015,NaN,11/09/2015,NaN,6.0,NaN,NaN,NaN,11/03/2016,4000.0,4000.0,tourist hotel/motel,143.0,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1.380611e+12
1556,201301147894,8,otc alterations permit,01/14/2013,0334,022,565,NaN,Ellis,St,NaN,NaN,"remodel unit #15 in kind, kitchen & bathroom o...",complete,12/28/2016,01/14/2013,01/14/2013,12/28/2016,01/14/2013,NaN,4.0,4.0,NaN,NaN,01/09/2014,25000.0,25000.0,apartments,16.0,apartments,16.0,0.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,6.0,Tenderloin,94109.0,"(37.784282476242794, -122.41567237531444)",1.293224e+12
1800,201301168094,8,otc alterations permit,01/16/2013,0334,022,565,NaN,Ellis,St,NaN,NaN,voluntary panel replacement in none sprinklere...,issued,01/16/2013,01/16/2013,01/16/2013,NaN,01/16/2013,NaN,4.0,4.0,NaN,Y,01/11/2014,5200.0,6800.0,apartments,16.0,apartments,16.0,2.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,6.0,Tenderloin,94109.0,"(37.784282476242794, -122.41567237531444)",1.293474e+12
2016,201301178255,8,otc alterations permit,01/17/2013,0335,022,635,NaN,Ellis,St,NaN,NaN,"remove /replace kitchen cabinets ,counter tops...",complete,02/13/2013,01/17/2013,01/17/2013,02/13/2013,01/17/2013,NaN,5.0,5.0,NaN,NaN,01/12/2014,10000.0,10000.0,hospital,18.0,hospital,18.0,0.0,NaN,3.0,constr type 3,3.0,constr type 3,NaN,6.0,Tenderloin,94109.0,"(37.784091032050725, -122.41664077860652)",1.293700e+11
3200,201302019275,8,otc alterations permit,02/01/2013,0332,012,387,NaN,Ellis,St,NaN,NaN,install one smoke detector in basement control...,complete,03/29/2013,02/01/2013,02/01/2013,03/29/2013,02/01/2013,NaN,6.0,6.0,NaN,Y,01/27/2014,400.0,400.0,residential hotel,72.0,residential hotel,72.0,2.0,NaN,3.0,constr type 3,3.0,constr type 3,NaN,6.0,Tenderloin,94102.0,"(37.78468434694666, -122.4125287537931)",1.294947e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183455,201709209109,8,otc alterations permit,09/20/2017,0321,020,684,NaN,Ellis,St,NaN,NaN,basement- add control modules to activate door...,issued,09/20/2017,09/20/2017,09/20/2017,NaN,09/20/2017,NaN,7.0,7.0,NaN,Y,01/20/2018,2465.0,2465.0,residential hotel,84.0,residential hotel,84.0,2.0,NaN,3.0,constr type 3,3.0,constr type 3,NaN,6.0,Tenderloin,94109.0,"(37.78444885629703, -122.41751109766639)",1.480358e+11
184164,201709279726,8,otc alterations permit,09/27/2017,0335,018,677,NaN,Ellis,St,NaN,NaN,reroofing. na for maher.,complete,12/08/2017,09/27/2017,09/27/2017,12/08/2017,09/27/2017,NaN,4.0,4.0,NaN,NaN,10/04/2018,29900.0,29900.0,apartments,12.0,apartments,12.0,0.0,NaN,3.0,constr type 3,3.0,constr type 3,NaN,6.0,Tenderloin,94109.0,"(37.78408595976162, -122.4172225496597)",1.481263e+11
185020,201710050478,8,otc alterations permit,10/05/2017,0321,016,650,NaN,Ellis,St,NaN,NaN,"apt 10: replace kitchen cabinets, tile, counte...",issued,10/05/2017,10/05/2017,10/05/2017,NaN,10/05/2017,NaN,4.0,4.0,NaN,NaN,04/05/2018,15000.0,15000.0,apartments,30.0,apartments,30.0,0.0,NaN,3.0,constr type 3,3.0,constr type 3,NaN,6.0,Tenderloin,94109.0,"(37.78461816669083, -122.41700445197698)",1.482280e+12
185024,201710050479,8,otc alterations permit,10/05/2017,0322,003,516,NaN,Ellis,St,NaN,NaN,apt 408: replace kitchen counter tops & cabine...,issued,10/05/2017,10/05/2017,10/05/2017,NaN,10/05/2017,NaN,5.0,5.0,NaN,NaN,04/05/2018,15000.0,15000.0,apartments,36.0,apartments,36.0,0.0,NaN,3.0,constr type 3,3.0,constr type 3,NaN,6.0,Tenderloin,94109.0,"(37.784804965540474, -122.41471620559794)",1.482284e+12
186496,201710191750,8,otc alterations permit,10/19/2017,0740,022,747,NaN,Ellis,St,NaN,NaN,"unit 3: remodel bathroom, subpanel upgrade, co...",complete,01/05/2018,10/19/2017,10/19/2017,01/05/2018,10/19/2017,NaN,5.0,5.0,NaN,NaN,04/19/2018,10000.0,10000.0,apartments,14.0,apartments,14.0,0.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,6.0,Tenderloin,94109.0,"(37.78388499798633, -122.41848980483742)",1.484056e+12

In [199]:
building_permits.describe().T

,count,mean,std,min,25%,50%,75%,max
Permit Type,187235.0,7.523802e+00,1.455172e+00,1.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00
Street Number,187235.0,1.122371e+03,1.136496e+03,0.000000e+00,2.350000e+02,7.110000e+02,1.701000e+03,8.400000e+03
Unit,27735.0,7.691668e+01,3.119946e+02,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,6.004000e+03
Number of Existing Stories,146690.0,5.674289e+00,8.523032e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,7.800000e+01
Number of Proposed Stories,146555.0,5.714083e+00,8.525166e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,7.800000e+01
Estimated Cost,151133.0,1.633899e+05,3.415364e+06,1.000000e+00,3.200000e+03,1.100000e+04,3.500000e+04,5.379586e+08
Revised Cost,182102.0,1.322264e+05,3.437053e+06,0.000000e+00,1.000000e+00,7.155000e+03,2.900000e+04,7.805000e+08
Existing Units,138585.0,1.562179e+01,7.415402e+01,0.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00,1.907000e+03
Proposed Units,139135.0,1.644553e+01,7.482956e+01,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.911000e+03
Plansets,151811.0,1.275698e+00,2.311655e+01,0.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,9.000000e+03
Existing Construction Type,146124.0,4.072767e+00,1.584908e+00,1.000000e+00,3.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00
Proposed Construction Type,146282.0,4.090353e+00,1.577369e+00,1.000000e+00,3.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00
Supervisor District,185576.0,5.535419e+00,2.884842e+00,1.000000e+00,3.000000e+00,6.000000e+00,8.000000e+00,1.100000e+01
Zipcode,185577.0,9.411550e+04,9.267921e+00,9.410200e+04,9.410900e+04,9.411400e+04,9.412200e+04,9.415800e+04
Record ID,187234.0,1.156055e+12,4.900803e+11,1.293532e+10,1.307450e+12,1.367045e+12,1.426393e+12,1.497596e+12

In [ ]:
#pip install pandas-profiling

In [89]:
#! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [200]:
from pandas_profiling import ProfileReport
import numpy as np

In [ ]:
profile = ProfileReport(building_permits, title="Pandas Profiling Report")
#profile.to_widgets()

In [90]:
profile.to_file("your_report.html")

In [ ]:
profile

In [93]:
print("Quiz")
print('HÉCTOR LEONIDAS DUARTE GARCIA')
print('1. ¿Cuántos nulos hay  en la variable Proposed Construction Type, por cada calle?')

dato=building_permits[building_permits["Proposed Construction Type"].isnull()][['Street Name', "Proposed Construction Type"]]
dato
lio = dato.groupby('Street Name').size().reset_index(name='Conteo_nulos')

Quiz
HÉCTOR LEONIDAS DUARTE GARCIA
1. ¿Cuántos nulos hay  en la variable Proposed Construction Type, por cada calle?

     Street Name  Conteo_nulos
0           01st            40
1           02nd           131
2           03rd           296
3           04th           152
4        04th Ti             1
...          ...           ...
1181    Yosemite             4
1182       Yukon             1
1183      Zircon             1
1184         Zoe             4
1185         Zoo             1

[1186 rows x 2 columns]

In [128]:
print("2. Hacer imputación de datos en la variable Proposed Construction Type, por el promedio respecto a cada calle")
#lio.describe()
#building_permits

2. Hacer imputación de datos en la variable Proposed Construction Type, por el promedio respecto a cada calle

In [201]:
print("3. Separar la columna location en dos columnas, una columna con latitud y otra con longitud.")
data = building_permits
data1 = data["Location"].str.split(',', expand = True)
data['Latitud'] = data1[0]
data['Longitud'] = data1[1]
#data.drop(columns = ["Location"], inplace = True)
data

3. Separar la columna location en dos columnas, una columna con latitud y otra con longitud.

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,Unit,Unit Suffix,Description,Current Status,Current Status Date,Filed Date,Issued Date,Completed Date,First Construction Document Date,Structural Notification,Number of Existing Stories,Number of Proposed Stories,Voluntary Soft-Story Retrofit,Fire Only Permit,Permit Expiration Date,Estimated Cost,Revised Cost,Existing Use,Existing Units,Proposed Use,Proposed Units,Plansets,TIDF Compliance,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID,Latitud,Longitud
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,NaN,NaN,"ground fl facade: to erect illuminated, electr...",expired,12/21/2017,05/06/2015,11/09/2015,NaN,11/09/2015,NaN,6.0,NaN,NaN,NaN,11/03/2016,4000.0,4000.0,tourist hotel/motel,143.0,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1.380611e+12,(37.785719256680785,-122.40852313194863)
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,0.0,NaN,remove (e) awning and associated signs.,issued,08/03/2017,04/19/2016,08/03/2017,NaN,08/03/2017,NaN,7.0,NaN,NaN,NaN,12/03/2017,1.0,500.0,tourist hotel/motel,NaN,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1.420164e+12,(37.78733980600732,-122.41063199757738)
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,NaN,NaN,installation of separating wall,withdrawn,09/26/2017,05/27/2016,NaN,NaN,NaN,NaN,6.0,6.0,NaN,NaN,NaN,20000.0,NaN,retail sales,39.0,retail sales,39.0,2.0,NaN,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1.424857e+12,(37.7946573324287,-122.42232562979227)
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,0.0,NaN,repair dryrot & stucco at front of bldg.,complete,07/24/2017,11/07/2016,07/18/2017,07/24/2017,07/18/2017,NaN,2.0,2.0,NaN,NaN,07/13/2018,2000.0,2000.0,1 family dwelling,1.0,1 family dwelling,1.0,2.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1.443574e+12,(37.79595867909168,-122.41557405519474)
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,NaN,NaN,demolish retail/office/commercial 3-story buil...,issued,12/01/2017,11/28/2016,12/01/2017,NaN,11/20/2017,NaN,3.0,NaN,NaN,NaN,12/01/2018,100000.0,100000.0,retail sales,NaN,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",1.445482e+11,(37.78315261897309,-122.40950883997789)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187230,201710262380,8,otc alterations permit,10/26/2017,1368,046,739,NaN,Lake,St,NaN,NaN,re-roofing---replace roof material in-kind. re...,issued,10/26/2017,10/26/2017,10/26/2017,NaN,10/26/2017,NaN,3.0,3.0,NaN,NaN,10/26/2018,26290.0,26290.0,1 family dwelling,1.0,1 family dwelling,1.0,0.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,1.0,Inner Richmond,94118.0,"(37.786307097430836, -122.4673614231762)",1.484931e+11,(37.786307097430836,-122.4673614231762)
187231,201710262379,8,otc alterations permit,10/26/2017,0208,028,655,NaN,Montgomery,St,NaN,NaN,5th floor: fire alarm t.i. as built to ref ap...,issued,10/26/2017,10/26/2017,10/26/2017,NaN,10/26/2017,NaN,26.0,26.0,NaN,Y,02/26/2018,1.0,1.0,office,33.0,office,33.0,2.0,NaN,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Chinatown,94111.0,"(37.795235531615674, -122.40360698115164)",1.484932e+11,(37.795235531615674,-122.40360698115164)
187232,201710262381,8,otc alterations permit,10/26/2017,0259,029,315,NaN,Montgomery,St,0.0,NaN,13/f: fire alarm t.i. remove 2 wall mount stro...,issued,10/26/2017,10/26/2017,10/26/2017,NaN,10/26/2017,NaN,16.0,16.0,NaN,Y,02/26/2018,1500.0,1500.0,office,NaN,office,NaN,2.0,NaN,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Financial District/South Beach,94104.0,"(37.79226164705184, -122.4034859571375)",1.484932e+12,(37.79226164705184,-122.4034859571375)
187233,201710262383,8,otc alterations permit,10/26/2017,0871,024,67,NaN,Waller,St,NaN,NaN,to obtain final inspection for work approved u...,issued,10/26/2017,10/26/2017,10/26/2017,NaN,10/26/2017,NaN,4.0,4.0,NaN,NaN,02/26/2018,1.0,1.0,apartments,3.0,apartments,3.0,0.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Hayes Valley,94102.0,"(37.771629954255616, -122.42467743244606)",1.484934e+12,(37.771629954255616,-122.42467743244606)
187234,201710262383,8,otc alterations permit,10/26/2017,0871,025,69,NaN,Waller,St,NaN,NaN,to obtain final inspection for work approved u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
print("¿Cuál es el número de permiso que está en la calle que más permisos solicita y con la fecha más actualizada?")

dato = building_permits[building_permits["Permit Type"]>0][['Street Name', "Permit Type"]]
lio = dato.groupby('Street Name').size().reset_index(name='Conteo_permisos')
dato2 = lio[lio.Conteo_permisos == lio.Conteo_permisos.max()]
dato2
#lio

¿Cuál es el número de permiso que está en la calle que más permisos solicita y con la fecha más actualizada?

    Street Name  Conteo_permisos
994      Market             5200

In [219]:
x = dato2['Street Name']
#print(str(x))
#print(x)

dato = building_permits[building_permits["Street Name"]== 'Market'][['Street Name', "Current Status Date"]]
dato['Current Status Date'] = pd.to_datetime(dato['Current Status Date'])
lio = dato.groupby('Street Name').size().reset_index(name='Conteo_permisos')
#dato2 = dato['Current Status Date'].max()]
#dato2
#dato
#dato.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5200 entries, 4 to 187197
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Street Name          5200 non-null   object
 1   Current Status Date  5200 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 121.9+ KB