<a href="https://colab.research.google.com/github/hectorlduarte/ESEIT_BIGDATA_2022/blob/main/Semana_6_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Contexto:
Un permiso de construcción es un documento oficial de aprobación emitido por una agencia gubernamental que le permite a usted o a su contratista proceder con un proyecto de construcción o remodelación en su propiedad. Para más detalles, visite https://www.thespruce.com/what-is-a-building-permit-1398344. Cada ciudad o condado tiene su propia oficina relacionada con los edificios, que puede realizar múltiples funciones como la emisión de permisos, la inspección de edificios para hacer cumplir las medidas de seguridad, la modificación de las normas para adaptarse a las necesidades de la creciente población, etc. En el caso de la ciudad de San Francisco, la expedición de permisos corre a cargo de www.sfdbi.org/

Por qué es importante: En el pasado reciente, varias publicaciones y blogs destacaron que la principal discrepancia entre la demanda y la oferta en el sector inmobiliario se debe a los retrasos en la concesión de permisos de construcción. Consulte:
https://www.trulia.com/blog/trends/elasticity-2016/ - Introduce el concepto de elasticidad, y un bonito gráfico de dispersión de varias ciudades. ¡Una buena historia de datos!
https://biv.com/article/2014/11/city-building-permit-delays-costing-developers-tim


## Acerca de este archivo

Este conjunto de datos pertenece a todos los tipos de permisos estructurales desde el 1 de enero de 2013 hasta el 25 de febrero de 2018. Los datos incluyen detalles sobre los números de solicitud/permiso, direcciones de trabajo, distritos de supervisión y el estado actual de las solicitudes. Los datos son cargados semanalmente por el DBI. Los usuarios pueden acceder a la información de los permisos en línea a través del Sistema de Seguimiento de Permisos del DBI que está disponible las 24 horas del día en www.sfdbi.org/dbipts.

Desafíos:  Hay algunas ideas interesantes que pueden extraerse de este conjunto de datos.

Además, se podría elaborar un modelo predictivo para ayudar a los contratistas/constructores o a los agentes inmobiliarios.

Se puede responder a otras preguntas secundarias que también son útiles para el sector de la construcción.

Descomprimir el archivo .zip

In [ ]:
!unzip "/content/archive.zip" -d "/content/"

unzip:  cannot find or open /content/archive.zip, /content/archive.zip.zip or /content/archive.zip.ZIP.

Importarla librerìa de trabajo

In [1]:
import pandas as pd
pd.options.display.max_columns= None

Hacer lectura de los archivos

In [2]:
data_dictionary = pd.read_excel("/content/DataDictionaryBuildingPermit.xlsx")
building_permits = pd.read_csv("/content/Building_Permits.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (22,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
#Dimension de uno de los df
building_permits.shape

(198900, 43)

In [4]:
building_permits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  int64
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  int64
 7   Street Number Suffix                    2216 non-null    object
 8   Street Name                             198900 non-null  object
 9   Street Suffix                           196132 non-null  object
 10  Unit                                    29479 non-null   float64
 11  Unit Suffix                             1961 non-null    object
 12  Description                             198610 non-null  object
 13  Current Status                          198900 non-null  object
 14  Current Status Date                     198900 non-null  object
 15  Filed Date                              198900 non-null  object
 16  Issued Date                             183960 non-null  object
 17  Completed Date                          97191 non-null   object
 18  First Construction Document Date        183954 non-null  object
 19  Structural Notification                 6922 non-null    object
 20  Number of Existing Stories              156116 non-null  float64
 21  Number of Proposed Stories              156032 non-null  float64
 22  Voluntary Soft-Story Retrofit           35 non-null      object
 23  Fire Only Permit                        18827 non-null   object
 24  Permit Expiration Date                  147020 non-null  object
 25  Estimated Cost                          160834 non-null  float64
 26  Revised Cost                            192834 non-null  float64
 27  Existing Use                            157786 non-null  object
 28  Existing Units                          147362 non-null  float64
 29  Proposed Use                            156461 non-null  object
 30  Proposed Units                          147989 non-null  float64
 31  Plansets                                161591 non-null  float64
 32  TIDF Compliance                         2 non-null       object
 33  Existing Construction Type              155534 non-null  float64
 34  Existing Construction Type Description  155534 non-null  object
 35  Proposed Construction Type              155738 non-null  float64
 36  Proposed Construction Type Description  155738 non-null  object
 37  Site Permit                             5359 non-null    object
 38  Supervisor District                     197183 non-null  float64
 39  Neighborhoods - Analysis Boundaries     197175 non-null  object
 40  Zipcode                                 197184 non-null  float64
 41  Location                                197200 non-null  object
 42  Record ID                               198900 non-null  int64
dtypes: float64(12), int64(3), object(28)
memory usage: 65.3+ MB

In [5]:
building_permits.head(2)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,Unit,Unit Suffix,Description,Current Status,Current Status Date,Filed Date,Issued Date,Completed Date,First Construction Document Date,Structural Notification,Number of Existing Stories,Number of Proposed Stories,Voluntary Soft-Story Retrofit,Fire Only Permit,Permit Expiration Date,Estimated Cost,Revised Cost,Existing Use,Existing Units,Proposed Use,Proposed Units,Plansets,TIDF Compliance,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,NaN,NaN,"ground fl facade: to erect illuminated, electr...",expired,12/21/2017,05/06/2015,11/09/2015,NaN,11/09/2015,NaN,6.0,NaN,NaN,NaN,11/03/2016,4000.0,4000.0,tourist hotel/motel,143.0,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,0.0,NaN,remove (e) awning and associated signs.,issued,08/03/2017,04/19/2016,08/03/2017,NaN,08/03/2017,NaN,7.0,NaN,NaN,NaN,12/03/2017,1.0,500.0,tourist hotel/motel,NaN,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718

In [6]:
#Columnas del df
len(building_permits.columns)

43

In [7]:
#Cantidad por tipo
building_permits["Permit Type"].value_counts()


#building_permits.groupby(by='Proposed Construction Type')
#building_permits["Proposed Construction Type"].value_counts() 
#building_permits.groupby(['Street Name']).mean()
#building_permits['Street Name'].groupby([building_permits['Proposed Construction Type']]).agg()
#df = building_permits[['Proposed Construction Type', "Street Name"]]
#df.groupby(['Proposed Construction Type']).size().reset_index(name='Calles') #& df.isnull()

#building_permits.groupby(['Street Name']).size().reset_index(name='Calles')

8    178844
3     14663
4      2892
2       950
6       600
7       511
1       349
5        91
Name: Permit Type, dtype: int64

In [8]:
## Queremos saber por tipo y por descripciòn
# varias formas de hacer los filtros
building_permits[building_permits["Permit Type"] ==8][["Permit Type",'Proposed Construction Type',"Proposed Construction Type Description"]]

#proponga como harìa el filtro con Loc e Iloc

,Permit Type,Proposed Construction Type,Proposed Construction Type Description
3,8,5.0,wood frame (5)
5,8,1.0,constr type 1
6,8,5.0,wood frame (5)
7,8,NaN,NaN
8,8,NaN,NaN
...,...,...,...
198895,8,NaN,NaN
198896,8,5.0,wood frame (5)
198897,8,NaN,NaN
198898,8,NaN,NaN
198899,8,NaN,NaN

In [9]:
building_permits["Number of Existing Stories"]

0         6.0
1         7.0
2         6.0
3         2.0
4         3.0
         ...
198895    NaN
198896    4.0
198897    NaN
198898    NaN
198899    NaN
Name: Number of Existing Stories, Length: 198900, dtype: float64

In [ ]:
building_permits.loc[(building_permits["Number of Existing Stories"]>3)&(building_permits["Street Name"]=="Ellis"),:]

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,Unit,Unit Suffix,Description,Current Status,Current Status Date,Filed Date,Issued Date,Completed Date,First Construction Document Date,Structural Notification,Number of Existing Stories,Number of Proposed Stories,Voluntary Soft-Story Retrofit,Fire Only Permit,Permit Expiration Date,Estimated Cost,Revised Cost,Existing Use,Existing Units,Proposed Use,Proposed Units,Plansets,TIDF Compliance,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,NaN,NaN,"ground fl facade: to erect illuminated, electr...",expired,12/21/2017,05/06/2015,11/09/2015,NaN,11/09/2015,NaN,6.0,NaN,NaN,NaN,11/03/2016,4000.0,4000.0,tourist hotel/motel,143.0,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1556,201301147894,8,otc alterations permit,01/14/2013,0334,022,565,NaN,Ellis,St,NaN,NaN,"remodel unit #15 in kind, kitchen & bathroom o...",complete,12/28/2016,01/14/2013,01/14/2013,12/28/2016,01/14/2013,NaN,4.0,4.0,NaN,NaN,01/09/2014,25000.0,25000.0,apartments,16.0,apartments,16.0,0.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,6.0,Tenderloin,94109.0,"(37.784282476242794, -122.41567237531444)",1293224234007
1800,201301168094,8,otc alterations permit,01/16/2013,0334,022,565,NaN,Ellis,St,NaN,NaN,voluntary panel replacement in none sprinklere...,issued,01/16/2013,01/16/2013,01/16/2013,NaN,01/16/2013,NaN,4.0,4.0,NaN,Y,01/11/2014,5200.0,6800.0,apartments,16.0,apartments,16.0,2.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,6.0,Tenderloin,94109.0,"(37.784282476242794, -122.41567237531444)",1293474234007
2016,201301178255,8,otc alterations permit,01/17/2013,0335,022,635,NaN,Ellis,St,NaN,NaN,"remove /replace kitchen cabinets ,counter tops...",complete,02/13/2013,01/17/2013,01/17/2013,02/13/2013,01/17/2013,NaN,5.0,5.0,NaN,NaN,01/12/2014,10000.0,10000.0,hospital,18.0,hospital,18.0,0.0,NaN,3.0,constr type 3,3.0,constr type 3,NaN,6.0,Tenderloin,94109.0,"(37.784091032050725, -122.41664077860652)",129369969889
3200,201302019275,8,otc alterations permit,02/01/2013,0332,012,387,NaN,Ellis,St,NaN,NaN,install one smoke detector in basement control...,complete,03/29/2013,02/01/2013,02/01/2013,03/29/2013,02/01/2013,NaN,6.0,6.0,NaN,Y,01/27/2014,400.0,400.0,residential hotel,72.0,residential hotel,72.0,2.0,NaN,3.0,constr type 3,3.0,constr type 3,NaN,6.0,Tenderloin,94102.0,"(37.78468434694666, -122.4125287537931)",129494669825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194583,201801168732,8,otc alterations permit,01/16/2018,0323,007,424,NaN,Ellis,St,NaN,NaN,"fire alarm as builts for ref pa 201708084207, ...",complete,01/23/2018,01/16/2018,01/16/2018,01/23/2018,01/16/2018,NaN,6.0,6.0,NaN,NaN,05/16/2018,1.0,1.0,apartments,64.0,apartments,64.0,2.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,6.0,Tenderloin,94102.0,"(37.78506581312987, -122.41327584780666)",149370869716
194880,201801188980,3,additions alterations or repairs,01/18/2018,0327,021,44,NaN,Ellis,St,NaN,NaN,ti of (e) restaurant on ground floor - new sto...,filed,01/18/2018,01/18/2018,NaN,NaN,NaN,NaN,6.0,6.0,NaN,NaN,NaN,300000.0,NaN,food/beverage hndlng,0.0,food/beverage hndlng,0.0,2.0,NaN,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Financial District/South Beach,94102.0,"(37.78606132353985, -122.4070882118624)",1494052510601
194881,201801188981,4,sign - erect,01/18/2018,0327,021,44,NaN,Ellis,St,NaN,NaN,"""relocate"" electric wall single faced wall sig...",filed,01/18/2018,01/18/2018,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,500.0,NaN,food/beverage hndlng,0.0,NaN,NaN,2.0,NaN,1.0,constr type 1,NaN,NaN,NaN,3.0,Financial District/South Beach,94102.0,"(37.78606132353985, -122.4070882118624)",1494054510601
195560,201801259514,3,additions alterations or repairs,01/25/2018,0321,039,666,NaN,Ellis,St,NaN,NaN,improvements completion of emergency generator...,filed,01/25/2018,01/25/2018,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,NaN,10000.0,10000.0,apartments,100.0,apartments,100.0,2.0,NaN,1.0,constr type 1,1.0,constr type 1,NaN,6.0,Tenderloin,94109.0,"(37.78458804160961, -122.4172393161285)",1494807233893
198622,201802221971,8,otc alterations permit,02/22/2018,0717,004,710,NaN,Ellis,St,0.0,NaN,"to comply with nov# 201830391 items # 2,3 & 14...",issued,02/22/2018,02/22/2018,02/22/2018,NaN,02/22/2018,NaN,4.0,4.0,NaN,NaN,08/22/2018,9000.0,20000.0,apartments,34.0,apartments,34.0,0.0,NaN,3.0,constr type 3,3.0,constr type 3,NaN,6.0,Tenderloin,94109.0,"(37.78438499381087, -122.41802983321867)",1498074396310

In [ ]:
building_permits.describe().T

,count,mean,std,min,25%,50%,75%,max
Permit Type,198900.0,7.522323e+00,1.457451e+00,1.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00
Street Number,198900.0,1.121729e+03,1.135769e+03,0.000000e+00,2.350000e+02,7.100000e+02,1.700000e+03,8.400000e+03
Unit,29479.0,7.851718e+01,3.269813e+02,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,6.004000e+03
Number of Existing Stories,156116.0,5.705773e+00,8.613455e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,7.800000e+01
Number of Proposed Stories,156032.0,5.745043e+00,8.613284e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,7.800000e+01
Estimated Cost,160834.0,1.689554e+05,3.630386e+06,1.000000e+00,3.300000e+03,1.100000e+04,3.500000e+04,5.379586e+08
Revised Cost,192834.0,1.328562e+05,3.584903e+06,0.000000e+00,1.000000e+00,7.000000e+03,2.870750e+04,7.805000e+08
Existing Units,147362.0,1.566616e+01,7.447632e+01,0.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00,1.907000e+03
Proposed Units,147989.0,1.651095e+01,7.522044e+01,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.911000e+03
Plansets,161591.0,1.274650e+00,2.240735e+01,0.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,9.000000e+03
Existing Construction Type,155534.0,4.072878e+00,1.585756e+00,1.000000e+00,3.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00
Proposed Construction Type,155738.0,4.089529e+00,1.578766e+00,1.000000e+00,3.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00
Supervisor District,197183.0,5.538403e+00,2.887041e+00,1.000000e+00,3.000000e+00,6.000000e+00,8.000000e+00,1.100000e+01
Zipcode,197184.0,9.411550e+04,9.270131e+00,9.410200e+04,9.410900e+04,9.411400e+04,9.412200e+04,9.415800e+04
Record ID,198900.0,1.162048e+12,4.918215e+11,1.293532e+10,1.308567e+12,1.371840e+12,1.435000e+12,1.498342e+12

In [ ]:
#pip install pandas-profiling

In [ ]:
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Downloading https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
     | 22.0 MB 140 kB/s
Collecting joblib~=1.2.0
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     |████████████████████████████████| 297 kB 5.0 MB/s
Requirement already satisfied: scipy<1.10,>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.3.1) (1.7.3)
Requirement already satisfied: pandas!=1.4.0,<1.5,>1.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.3.1) (1.3.5)
Requirement already satisfied: matplotlib<3.6,>=3.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.3.1) (3.2.2)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.3.1) (1.9.2)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.3.1) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.3.1) (2.11.3)
Collecting visions[type_image_path]==0.7.5
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 53.3 MB/s
Requirement already satisfied: numpy<1.24,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.3.1) (1.21.6)
Collecting htmlmin==0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: missingno<0.6,>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.3.1) (0.5.1)
Collecting phik<0.13,>=0.11.1
  Downloading phik-0.12.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (690 kB)
     |████████████████████████████████| 690 kB 39.1 MB/s
Collecting tangled-up-in-unicode==0.2.0
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     |████████████████████████████████| 4.7 MB 37.7 MB/s
Collecting requests<2.29,>=2.24.0
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.3 MB/s
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.3.1) (4.64.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.3.1) (0.11.2)
Collecting multimethod<1.9,>=1.4
  Downloading multimethod-1.8-py3-none-any.whl (9.8 kB)
Collecting statsmodels<0.14,>=0.13.2
  Downloading statsmodels-0.13.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 41.5 MB/s
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling==3.3.1) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling==3.3.1) (22.1.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling==3.3.1) (7.1.2)
Collecting imagehash
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     |████████████████████████████████| 296 kB 67.8 MB/s
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2<3.2,>=2.11.1->pandas-profiling==3.3.1) (2.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.6,>=3.2->pandas-profiling==3.3.1) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.6,>=3.2->pandas-profiling==3.3.1) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.6,>=3.2->pandas-profiling==3.3.1) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.6,>=3.2->pandas-profiling==3.3.1) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib<3.6,>=3.2->pandas-profiling==3.3.1) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.4.0,<1.5,>1.1->pandas-profiling==3.3.1) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib<3.6,>=3.2->pandas-profiling==3.3.1) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling==3.3.1) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling==3.3.1) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling==3.3.1) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling==3.3.1) (2.10)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling==3.3.1) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling==3.3.1) (0.5.2)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling==3.3.1) (1.3.0)
Building wheels for collected packages: pandas-profiling, htmlmin
  Building wheel for pandas-profiling (setup.py) ... done
  Created wheel for pandas-profiling: filename=pandas_profiling-3.3.1-py2.py3-none-any.whl size=310107 sha256=ba041113586ff0923e136229c88f21788a8e5d81485b2282c3f1a14467123348
  Stored in directory: /tmp/pip-ephem-wheel-cache-pggfu9l4/wheels/cc/d5/09/083fb07c9363a2f45854b0e3a7de7d7c560f07da74b9e9769d
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=21e210ea7c945bbe43690a81c56e0d83ae184144a8b295ca44ef834b53bed7f6
  Stored in directory: /root/.cache/pip/wheels/70/e1/52/5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
Successfully built pandas-profiling htmlmin
Installing collected packages: tangled-up-in-unicode, multimethod, visions, joblib, imagehash, statsmodels, requests, phik, htmlmin, pandas-profiling
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.12.2
    Uninstalling statsmodels-0.12.2:
      Successfully uninstalled statsmodels-0.12.2
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: pandas-profiling
    Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
Successfully installed htmlmin-0.1.12 imagehash-4.3.1 joblib-1.2.0 multimethod-1.8 pandas-profiling-3.3.1 phik-0.12.2 requests-2.28.1 statsmodels-0.13.2 tangled-up-in-unicode-0.2.0 visions-0.7.5

In [ ]:
from pandas_profiling import ProfileReport
import numpy as np

In [ ]:
profile = ProfileReport(building_permits, title="Pandas Profiling Report")
#profile.to_widgets()

In [ ]:
profile.to_file("your_report.html")

In [ ]:
profile

In [10]:
print("Quiz")
print('HÉCTOR LEONIDAS DUARTE GARCIA')
print('1. ¿Cuántos nulos hay  en la variable Proposed Construction Type, por cada calle?')

dato=building_permits[building_permits["Proposed Construction Type"].isnull()][['Street Name', "Proposed Construction Type"]]
dato
lio = dato.groupby('Street Name').size().reset_index(name='Conteo_nulos')
lio

Quiz
HÉCTOR LEONIDAS DUARTE GARCIA
1. ¿Cuántos nulos hay  en la variable Proposed Construction Type, por cada calle?

     Street Name  Conteo_nulos
0           01st            61
1           02nd           166
2           03rd           387
3           04th           203
4        04th Ti             1
...          ...           ...
1260    Yosemite             5
1261       Yukon             1
1262      Zircon             1
1263         Zoe             4
1264         Zoo             1

[1265 rows x 2 columns]

In [11]:
print("2. Hacer imputación de datos en la variable Proposed Construction Type, por el promedio respecto a cada calle")
#lio.describe()
#building_permits

2. Hacer imputación de datos en la variable Proposed Construction Type, por el promedio respecto a cada calle

In [12]:
print("3. Separar la columna location en dos columnas, una columna con latitud y otra con longitud.")
data = building_permits
data1 = data["Location"].str.split(',', expand = True)
data['Latitud'] = data1[0]
data['Longitud'] = data1[1]
 #data.drop(columns = ["Location"], inplace = True)
data

3. Separar la columna location en dos columnas, una columna con latitud y otra con longitud.

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,Unit,Unit Suffix,Description,Current Status,Current Status Date,Filed Date,Issued Date,Completed Date,First Construction Document Date,Structural Notification,Number of Existing Stories,Number of Proposed Stories,Voluntary Soft-Story Retrofit,Fire Only Permit,Permit Expiration Date,Estimated Cost,Revised Cost,Existing Use,Existing Units,Proposed Use,Proposed Units,Plansets,TIDF Compliance,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID,Latitud,Longitud
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,NaN,NaN,"ground fl facade: to erect illuminated, electr...",expired,12/21/2017,05/06/2015,11/09/2015,NaN,11/09/2015,NaN,6.0,NaN,NaN,NaN,11/03/2016,4000.0,4000.0,tourist hotel/motel,143.0,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945,(37.785719256680785,-122.40852313194863)
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,0.0,NaN,remove (e) awning and associated signs.,issued,08/03/2017,04/19/2016,08/03/2017,NaN,08/03/2017,NaN,7.0,NaN,NaN,NaN,12/03/2017,1.0,500.0,tourist hotel/motel,NaN,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718,(37.78733980600732,-122.41063199757738)
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,NaN,NaN,installation of separating wall,withdrawn,09/26/2017,05/27/2016,NaN,NaN,NaN,NaN,6.0,6.0,NaN,NaN,NaN,20000.0,NaN,retail sales,39.0,retail sales,39.0,2.0,NaN,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716,(37.7946573324287,-122.42232562979227)
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,0.0,NaN,repair dryrot & stucco at front of bldg.,complete,07/24/2017,11/07/2016,07/18/2017,07/24/2017,07/18/2017,NaN,2.0,2.0,NaN,NaN,07/13/2018,2000.0,2000.0,1 family dwelling,1.0,1 family dwelling,1.0,2.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566,(37.79595867909168,-122.41557405519474)
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,NaN,NaN,demolish retail/office/commercial 3-story buil...,issued,12/01/2017,11/28/2016,12/01/2017,NaN,11/20/2017,NaN,3.0,NaN,NaN,NaN,12/01/2018,100000.0,100000.0,retail sales,NaN,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992,(37.78315261897309,-122.40950883997789)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198895,M862628,8,otc alterations permit,12/05/2017,0113,017A,1228,NaN,Montgomery,St,NaN,NaN,street space,issued,12/05/2017,12/05/2017,12/05/2017,NaN,12/05/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489337276729,NaN,NaN
198896,201712055595,8,otc alterations permit,12/05/2017,0271,014,580,NaN,Bush,St,NaN,NaN,fire alarm upgrade ref 201704123852,issued,12/06/2017,12/05/2017,12/06/2017,NaN,12/06/2017,NaN,4.0,4.0,NaN,Y,04/06/2018,5000.0,5000.0,apartments,4.0,apartments,4.0,2.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1489462354993,NaN,NaN
198897,M863507,8,otc alterations permit,12/06/2017,4318,019,1568,NaN,Indiana,St,NaN,NaN,street space,issued,12/06/2017,12/06/2017,12/06/2017,NaN,12/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489539379952,NaN,NaN
198898,M863747,8,otc alterations permit,12/06/2017,0298,029,795,NaN,Sutter,St,NaN,NaN,street space permit,issued,12/06/2017,12/06/2017,12/06/2017,NaN,12/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489608233656,NaN,NaN
198899,M864287,8,otc alterations permit,12/07/2017,0160,006,838,NaN,Pacific,Av,NaN,NaN,street space permit,issued,12/07/2017,12/07/2017,12/07/2017,NaN,12/07/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489796283803,NaN,NaN

In [13]:
print("4. ¿Cuál es el número de permiso que está en la calle que más permisos solicita y con la fecha más actualizada?")

dato = building_permits[building_permits["Permit Type"]>=0][['Street Name', "Permit Type"]]
lio = dato.groupby('Street Name').size().reset_index(name='Conteo_permisos')
dato2 = lio[lio.Conteo_permisos == lio.Conteo_permisos.max()]
dato2
#lio

4. ¿Cuál es el número de permiso que está en la calle que más permisos solicita y con la fecha más actualizada?

     Street Name  Conteo_permisos
1006      Market             5443

In [28]:
#calle_mas_permisos = []
x = dato2['Street Name'].astype('string')
x.reindex(x)
print(x)
print('-------------')


dato = building_permits[building_permits["Street Name"]== x[1006]][['Street Name', "Current Status Date"]]
dato['Current Status Date'] = pd.to_datetime(dato['Current Status Date'])
#lio = dato.groupby('Street Name').size().reset_index(name='Conteo_permisos')
dato['Current Status Date'].max()
#dato2
#dato
#print(lio)
#dato.info()

1006    Market
Name: Street Name, dtype: string
-------------

Timestamp('2018-02-23 00:00:00')

In [ ]:
dato3 = building_permits[building_permits['Street Name']=='Market'][['Street Name','Permit Creation Date']]
dato3['Permit Creation Date']=pd.to_datetime(dato3['Permit Creation Date'])
#dato3=max(dato2['Permit Creation Date'])
dato3

       Street Name Permit Creation Date
4           Market           2016-11-28
88          Market           2017-12-27
124         Market           2017-05-03
192         Market           2017-08-01
199         Market           2017-08-04
...            ...                  ...
198685      Market           2018-02-22
198820      Market           2018-02-23
198859      Market           2018-02-23
198872      Market           2018-02-23
198884      Market           2018-02-23

[5443 rows x 2 columns]

In [ ]:
dato4=building_permits[building_permits['Street Name']=='Market'][['Street Name','Permit Creation Date']]
dato4['Permit Creation Date']=pd.to_datetime(dato4['Permit Creation Date'])
fecha_reciente=max(dato4['Permit Creation Date'])
fecha_reciente

Timestamp('2018-02-23 00:00:00')