In [50]:
#Data Cleaning 101

import os
import pandas as pd
import numpy as np
from pathlib import Path, PosixPath


root_dir = Path('.').resolve().parent
filename = 'llamadas123_julio_2022.csv'

file_path = os.path.join(root_dir, "Data", filename)
file_path
#print (root_dir)
#print (file_path)

PosixPath('/Users/wolfrain/Documents/00 Big Data/ESEIT_BIGDATA_2022/Data/llamadas123_julio_2022.csv')

#data = df = variable para los datos

df = pd.read_csv(file_path, sep=";", encoding="latin-1") 
#df = pd.read_csv(file_path, sep=";", encoding="utf-8")

df.head()
#df['TIPO_INCIDENTE'].value_counts(normalize=True)

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [51]:
# Obtener información básica de los datos / información general de la tabla / datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13055 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13055 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13055 non-null  object
 2   CODIGO_LOCALIDAD                   13055 non-null  int64
 3   LOCALIDAD                          13055 non-null  object
 4   EDAD                               13055 non-null  object
 5   UNIDAD                             13047 non-null  object
 6   GENERO                             13055 non-null  object
 7   RED                                13055 non-null  object
 8   TIPO_INCIDENTE                     13055 non-null  object
 9   PRIORIDAD                          13055 non-null  object
 10  RECEPCION                          13055 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [52]:
# Eliminar registros duplicados
print('Forma inicial', df.shape)

# Función para eliminar duplicados
df = df.drop_duplicates()
df.reset_index(inplace=True, drop=True)
#print ('Forma final', df.shape)
#df.info()

#data = df.drop(columns='index')

print ('Forma final', df.shape)
df.info()

Forma inicial (13055, 11)
Forma final (13026, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [53]:
#df[~df.index.isin(df_nod_up.index)]

In [54]:
# Tratamiento de valores nulos
# nulo s string --> SIN_DATO, N/A
# nulo de numeros --> np.nan
# nulo de fechas --> NaT

#np.nan

col = 'UNIDAD'
#df[col].value_counts()

#Llenar datos nulos con la palabra 'SIN_DATO'
df[col].fillna('SIN_DATO', inplace=True)

df[col].value_counts(dropna=False, normalize=True)

df.info()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [55]:
# Prueba de concepto
word = 'BigData'
word.lower()

'bigdata'

In [63]:
fecha = '2022-07-01 00:08:59'
pd.to_datetime(fecha, errors='coerce')

col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
df[col]

#fecha = '0000-00-00 00:00:00'
pd.to_datetime(fecha, errors='coerce', format = '%Y/%m/%d')
#pd.to_datetime(fecha, errors='ignore')

df[col] = pd.to_datetime(df[col], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.1+ MB

In [65]:
# Limpiar columna EDAD
col = 'EDAD'
df[col]

#Estadistica caracteristica de los datos
df[col].value_counts(dropna=False, normalize=True)

SIN_DATO    0.474973
23          0.011515
22          0.010748
30          0.010287
27          0.010287
              ...
7           0.001305
98          0.001228
9           0.001152
8           0.001075
97          0.000921
Name: EDAD, Length: 100, dtype: float64

In [66]:
# depurar columna 'EDAD'
df[col].replace({'SIN_DATO': np.nan}, inplace=True)
df[col]

0         88
1         16
2         52
3        NaN
4         33
        ...
13021     18
13022    NaN
13023     11
13024     19
13025    NaN
Name: EDAD, Length: 13026, dtype: object

In [71]:
# Explorar mas la columna 'EDAD'
df[col].value_counts()

23    150
22    140
30    134
27    134
26    133
     ...
7      17
98     16
9      15
8      14
97     12
Name: EDAD, Length: 99, dtype: int64

In [82]:
df[col].unique()

array(['88', '16', '52', nan, '33', '57', '65', '14', '83', '35', '19',
       '53', '56', '45', '2', '18', '34', '84', '80', '7', '64', '41',
       '28', '23', '85', '92', '38', '11', '58', '70', '50', '27', '67',
       '54', '87', '24', '90', '99', '49', '91', '21', '62', '59', '26',
       '78', '30', '32', '51', '15', '79', '37', '60', '76', '22', '47',
       '61', '82', '86', '77', '63', '39', '89', '36', '97', '40', '75',
       '13', '25', '73', '69', '72', '68', '44', '31', '74', '81', '43',
       '20', '66', '10', '48', '29', '8', '17', '94', '55', '1', '4', '3',
       '9', '71', '46', '6', '95', '93', '98', '96', '42', '5', '12'],
      dtype=object)

In [73]:

# Funciones lambda

f = lambda x: x**2

x=4
f(x)

16

In [85]:
# otra funcion lambda mas potente
#str_num = np.nan
str_num = '123'
f = lambda x: x if pd.isna(x) else int(str_num)

f(str_num)

123

In [86]:

df[col] = df[col].apply(f)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 1.1+ MB

In [87]:
col = 'RECEPCION'
df[col]

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13021         8/08/2022 6:48
13022    0000-00-00 00:00:00
13023        9/08/2022 13:13
13024    0000-00-00 00:00:00
13025    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [102]:
# Mas de datetaime
from dateutil.parser import parse
fecha = 'may 29th 2021'
parse(fecha)

#lambda
fechas = lambda x: parse(x)

list_fechas = list()
for fecha in df[col]:
    try:
        new_fecha = parse(fecha)
    except Exception as e:
        new_fecha = pd.to_datetime(fecha, errors='coerce')
        #print(e, new_fecha)
    # continue

    list_fechas.append(new_fecha)

#print(fecha)

#list_fechas
#pd.to_datetime(df[col], errors = 'ignore')

df['RECEPCION_corr'] = list_fechas
df.head()
df.info()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,RECEPCION_corr
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,123.0,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,123.0,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,123.0,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,NaN,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00,NaT
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,123.0,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29,2022-07-01 03:25:29

In [106]:
word1 = 'BigData'
word2 = ' BigData'

print ('Quita espacios en blanco en los extremos')
print (word1.strip())
print (word2.strip())

Quita espacios en blanco en los extremos
BigData
BigData

In [116]:
col = 'LOCALIDAD'
df
len(df)

13026

In [117]:
import re

txt = 'Los Martires'
#txt = 'USme'

def encontrar_patron(patron, txt):
    if re.search(".*ires", txt):
        #print('Los Martires')
        new_txt = 'Los Martires'
        return new_txt
    else:
        #print('No encontrado')
        pass


encontrar_patron("Los.*tires", 'Los M\xa0rtires')

'Los Martires'

In [ ]:
# Un script de limpieza hy guarde un CSV .py
#